/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

/* Galería del producto */
.galeria {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.galeria img {
    max-width: 100%;
    border-radius: 8px;
    object-fit: cover;
    max-height: 400px;
    transition: transform 0.3s ease;
}

.galeria img:hover {
    transform: scale(1.05);
}

.miniaturas {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.miniaturas img {
    width: 50px;
    height: 50px;
    margin: 0 5px;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.miniaturas img:hover {
    transform: scale(1.1);
}

p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: center;
}

input[type="number"] {
    font-size: 1.2rem;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #ddd;
    outline: none;
}

input[type="number"]:focus {
    border-color: #007bff;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    max-width: 300px;
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    font-size: 1rem;
}

ul li {
    padding: 5px;
    background-color: #f9f9f9;
    border-radius: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

p.error {
    color: red;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.container > div {
    max-width: 800px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
