.MenuOptions {
  height: 70px;
  width: 90%;
  margin-left: 5%;
  background-color: black;
  padding: 0;
}

.MenuOption {
  list-style-type: none;
  height: 100%;
  width: 10%;
}

.MenuOption a {
  text-decoration: none;
}

.ListaMenu {
  display: flex;
  height: 100%;
  padding: 0;
}

.MenuButton {
  background-color: rgb(0, 0, 0);
  border-radius: 5%;
  height: 100%;
  width: 100%;
  color: rgb(255, 255, 255);
}

.MenuButton:hover {
  background-color: rgb(52, 66, 221);
  transform: scale(1.2); 
  border-radius: 8px;
  cursor: pointer;
}

/* main ----------------------------------------------------------------------- */

body {
    background-color: rgb(255, 255, 255);
}

.FormDiv {
  background-color: rgb(210, 228, 249);
  border-radius: 5%;
  border-style: solid;
  width: 50%;
  height: 700px;
  margin-left: 25%;
  margin-top: 5%;
}

.Formulario {
  display: block;
  text-align: center;
}

.FormInput {
  border-style: solid;
  width: 40%;
  height: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.FormInput:focus-within {
  background-color: rgb(210, 228, 249);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
}

.FormTitle {
  text-align: center;
}


  /* seccion de código propuesta por IA */
  /* input[type="password"] {
    border: 1px solid #ccc;
    padding: 0.5rem;
    font-size: 1rem;
} */

.error {
    border-style: solid;
    border-color: red;
}
.hidden {
  display: none;
}

.PasswordRegistrationAlert {
  border-color: red;
  color: red;
  border-radius: 5%;
  border-style: dashed;
  background-color: white;
  width: 40%;
  height: 10%;
  margin-left: 30%;
  
}

.PasswordRegistrationAlert p {
  font-size: medium;
  font-style: italic;
}

.PasswordLengthAlert {
  border-color: red;
  color: red;
  border-radius: 5%;
  border-style: dashed;
  background-color: white;
  width: 40%;
  height: 10%;
  margin-left: 30%;
}

.PasswordLengthAlert p {
  font-size: medium;
  font-style: italic;
}

/* fin sección de código propusta por IA */




/* FOOTER ------------------------------------------------------------------- */
.container{
  background-color: black;
  border-style: solid;
  width: 95%;
  height: 200px;
  margin-left: 2.5%;
  margin-top: 2.5%;
}

.subcontainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  height: 100%;

}

.footerTitle{
  font-size: x-large;
  color: rgb(255, 255, 255);
  text-align: center;
}

.footerSubtitle{
  font-size: large;
  color: white;
  text-align: center;
}

.instaLogo{
  width: 89px;
  height: 50px;
}

.xLogo{
  width: 75px;
  height: 50px;
}

.perfilLogo {
  width: 50px;
  height: 50px;
}

.footerList{
  text-align: center;
  color: rgb(0, 0, 0);
}

.footerLink {
  color: white;
  text-decoration: none;
}

.footerInfo p{
  color:white;
}

.footerInfo {
  text-align: center;
}

