div.LogInArea{
    background-color: rgb(210, 228, 249);
    border-radius: 5%;
    border-style: solid;
    width: 40%;
    height: 500px;
    margin-left: 30%;
}

.LogInFields{
    text-align: center;
}

.LogInLabels{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.LogInInputs {
    border-style: solid;
    width: 40%;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.LogInInputs:focus-within {
    background-color: rgb(210, 228, 249);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
}

.LogInText{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: xx-large;
}

.LogInLabel {
    text-align: center;
    font-size: large;
}

.SendButton {
    border-radius: 5px;
    width: 20%;
    height: 40px;
}

.SendButton:hover {
    width: 21%;
    height: 42px;
    background-color: rgb(163, 170, 252);
}

.homeIcon {
    width: 60px;
    height: 50px;
    margin-top: 10px;
}

.homeIcon:hover {
    transform: scale(1.05);
}

.Logo{
    width: 15%;
    height: auto;
}
